@font-face {
  font-family: 'Saridona';
  src: url('/fonts/Saridona_personal use.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fff;
  color: #1a202c;
  font-family: 'Inter', 'Helvetica Neue', Arial, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #fff;
}
