body {
  background-color: #fff;
  color: #1a202c;
  font-family: 'Inter', 'Helvetica Neue', Arial, 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  background-color: #fff;
}
